[submodule "lib/PSStackedView"]
	path = lib/PSStackedView
	url = git://github.com/mball-crrc/PSStackedView.git
[submodule "lib/AFNetworking"]
	path = lib/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "lib/MGImageUtilities"]
	path = lib/MGImageUtilities
	url = git://github.com/mattgemmell/MGImageUtilities.git
[submodule "lib/UIAlertView-Blocks"]
	path = lib/UIAlertView-Blocks
	url = git://github.com/jivadevoe/UIAlertView-Blocks.git
